// Define shared styling variables here.

// Form section
$form-max-width: 420px;
$form-gap: 1.25rem;
$button-color: var(--mui-palette-primary-main);
$primary-text-color: var(--mui-palette-primary-contrastText);
$error-color: var(--mui-palette-error-main);